<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/error.css">
    <title>Hoja de Vida</title>
</head>
<body>
    <div class="main">
        <div class="cabecera">
            <div class="datos">
                <div class="imgPerfil">
                    <img src="/img/error.png" alt="foto de perfil">
                </div>
                <h1>Error</h1>
            </div>
        </div>
        <div class="menu">
            <a href="/">Inicio</a>
            <a href="/perfil">Perfil Profesional</a>
            <a href="/estudios">Estudios</a>
            <a href="/experiencias">Experiencia</a>
            <a href="/contacto">Contacto</a>
        </div>
    </div>
</body>
</html>