<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estudios.css">
    <title>Hoja de Vida</title>
</head>
<body>
    <div class="main">
        <div class="cabecera">
            <div class="imgPerfil">
                <img src="/img/perfil.jpg" alt="foto de perfil">
            </div>
            <div class="datos">
                <h1>Estudios</h1>
                <hr>
                <h3>Bootcamp BICTIA FullStack</h3>
                <p><strong>Titulo: </strong> Desarrolladora FullStack</p>
                <span>En Curso</span>
                <h3>SENA</h3>
                <p><strong>Titulo: </strong> Tecnología en ADSI</p>
                <span>Finalizado en 2018</span>
                <h3>Colegio El Jazmin</h3>
                <p><strong>Titulo: </strong> Bachiller Academico</p>
                <span>Finalizado en 2016</span>
                <h2>Estudios Adicionales</h2>
                <hr>
                <h3>Udemy</h3>
                <p><strong>Titulo:</strong> Vue desde Cero </p>
                <span>Finalizado en 2018</span>
            </div>
        </div>
        <div class="menu">
            <a href="/">Inicio</a>
            <a href="/perfil">Perfil Profesional</a>
            <a href="/estudios">Estudios</a>
            <a href="/experiencias">Experiencia</a>
            <a href="/contacto">Contacto</a>
        </div>
    </div>
</body>
</html>