<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Hoja de Vida</title>
</head>
<body>
    <div class="main">
        <div class="cabecera">
            <div class="imgPerfil">
                <img src="/img/perfil.jpg" alt="foto de perfil">
            </div>
            <div class="datos">
                <h1>Experiencia Laboral</h1>
                <hr>
                <h3>Empresariales SAS</h3>
                <p><strong>Cargo: </strong> Desarrolladora Jr.</p>
                <span>Actualmente</span>
                <h3>Sengi SAS</h3>
                <p><strong>Cargo: </strong> Desarrolladora FrontEnd </p>
                <span>Finalizado en Marzo de 2019</span>
            </div>
        </div>
        <div class="menu">
            <a href="/">Inicio</a>
            <a href="/perfil">Perfil Profesional</a>
            <a href="/estudios">Estudios</a>
            <a href="/experiencias">Experiencia</a>
            <a href="/contacto">Contacto</a>
        </div>
    </div>
</body>
</html>