<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Hoja de Vida</title>
</head>
<body>
    <div class="main">
        <div class="cabecera">
            <img src="/img/perfil.jpg" alt="foto de perfil">
            <div class="datos">
                <h1>Paula Andrea Morales</h1> 
                <h3>Tecnóloga en ADSI</h3>
                <hr>
                <p><strong>Email: </strong> paulamorales@email.com</p>
                <p><strong>Telefono: </strong> 3103334455 - 477777</p>
                <div class="redes">
                    <a href="#"><img src="/img/facebook.png" alt="facebook"></a>
                    <a href="#"><img src="/img/twitter.png" alt="twitter"></a>
                    <a href="#"><img src="/img/linkedin.png" alt="linkedin"></a>
                </div>
            </div>
        </div>
        <div class="menu">
            <a href="/">Inicio</a>
            <a href="/perfil">Perfil Profesional</a>
            <a href="/estudios">Estudios</a>
            <a href="/experiencias">Experiencia</a>
            <a href="/contacto">Contacto</a>
        </div>
    </div>
</body>
</html>